#ulTasks > .disabled {
    text-decoration: line-through;
    pointer-events: unset;
}

.taskVal {
    display: inline-block;
    width: calc(100% - 24px);
    overflow-wrap: break-word;
    text-decoration: inherit;
}